.admin-card {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signout-btn {
  height: 25px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.edition-card {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .description {
    display: flex;
    flex-direction: row;

    img {
      max-height: 150px;
    }

    .info {
      margin-left: 40px;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .option {
      margin: 5px 0;
    }
  }
}
