table {
  border-collapse: collapse;
  width: 80%;

  @media screen and (max-width: $break-medium) {
    width: 100%;
  }
}

table,
th,
td {
  border: 2px solid $inverted-base-color;
  height: 25px;
  margin: auto;
  padding: 5px;
}

th {
  color: $inverted-base-color;
}
