@import 'base/config';
@import 'base/typography';

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $header-font-family;
  color: $font-color;
  background: $base-color;
}
