@import 'base/config';
@import 'base/typography';
@import 'base/reset';

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: $default-font-family;
  color: $font-color;
  background: $base-color;
}

@import 'modules/header';
@import 'modules/postHeader';
@import 'modules/welcome';
@import 'modules/posts';
@import 'modules/footer';
@import 'modules/table';
@import 'modules/loginForm';
@import 'modules/newPost';
