// Base colors
$base-color: #ffffff;
$font-color: #000000;
$transp-base-color: rbga($base-color, 0.5);
$inverted-base-color: #000000;
$inverted-font-color: #ffffff;

// Breakpoints
$break-small: 320px;
$break-medium: 900px;
$break-large: 1200px;
